@import '~bulma/sass/utilities/initial-variables';
$blue: #0076a9;
$primary: $blue;
$family-sans-serif: Gudea, sans-serif;
$navbar-background-color: transparent;
@import "~bulma/bulma";

.is-twitter {
    fill: #1da1f2;
}

.is-facebook {
    fill: #3b5998;
}

.is-youtube {
    fill: #cd201f;
}

.svg-icon {
    height: 2em;
    width: 2em;
}

.svg-icon-small {
    height: 1em;
    width: 1em;
}

.sog-logo {
    width: 125px;
    height: 125px;
    @include mobile {
        width: 200px;
        height: 200px;
    }
}

.bg-img {
    background: url('/img/bg.jpg') no-repeat center center;
    background-size: cover;
    a {
        color: #ffffff;
    }

    .subtitle {
        color: #ffffff;
    }
}

// Fix navbar colors
.hero.is-primary a.navbar-item.is-active {
    color: #0a0a0a;
}

.hero.is-primary a.navbar-item:hover {
    color: #0a0a0a;
}

// Fix navbar burger colors
.navbar-burger.is-active span,
.navbar-burger span {
    background-color: #ffffff;
}

//Fix navbar burger hover
.navbar-burger.is-active,
.navbar-burger {
    &:hover {
        span {
            background-color: #000000;
        }
    }
}
